<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Make our planet green again</title>
    {% load static %}
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <script src="{% static 'js/bootstrap.js' %}"></script>
</head>
<body>
<ul class="nav nav-tabs nav-justified">
    <li class="nav-item"><a href="{% url 'plateforme:index'%}" class="nav-link">Accueil</a></li>
    <li class="nav-item"><a href="{% url 'projet:index'%}" class="nav-link">Liste des projets</a></li>
    <li class="nav-item"><a href="{% url 'plateforme:contact'%}" class="nav-link">Contact</a></li>
    <li class="nav-item"><a href="#" class="nav-link">Archives</a></li>
    <li class="nav-item"><a href="{% url 'plateforme:credits'%}" class="nav-link">Crédits</a></li>
</ul>

<div class="container mt-4">

    <p class="lead">Please contact us.</p>

    <form class="form" action="" role="form" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input id="nameInput" name="name" placeholder="Name" class="form-control form-control-sm" type="text"
                      required="">
        </div>
        <div class="form-group">
            <input id="mailInput" name="mail" placeholder="Mail" class="form-control form-control-sm" type="text"
                      required="">
        </div>
        <div class="form-group">
            <input id="subjectInput" name="subject" placeholder="Subject" class="form-control form-control-sm" type="text">
        </div>
        <div class="form-group">
            <textarea id="messageArea" name="message" placeholder="Message" class="form-control form-control-sm" type="text"
                      required=""></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-primary btn-block" value="Submit"/>
        </div>
    </form>
</div>

</body>
</html>