{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <h1>Crédits et mentions légales</h1>
    <ul class="mt-4">
        <li><strong>Editeur :</strong>
            <ul>
                <li>Elaboration technique : Poirier Romane, Fernandez Thierry</li>
                <li>Création graphique : Poirier Romane, Fernandez Thierry</li>
            </ul>
        </li><br>
        <li>
            <strong>Droits d'auteurs et copyright :</strong><br>
            L'ensemble de ce site relève de la législation française et internationale sur le droit d'auteur et la
            propriété intellectuelle. Tous les droits de reproduction sont réservés, y compris pour les documents
            téléchargeables et les représentations iconographiques et photographiques.<br>
            La reproduction de tout ou partie de ce site sur un support électronique quel qu'il soit est formellement
            interdite sauf autorisation expresse du directeur de la publication.
        </li>
    </ul>
</div>

{% endblock %}
